<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Customer Functionality</title>

    <link rel="icon" type="image/jpg" href="../../static/imgs/favicon.jpg"/>
    <link type="text/css" rel="stylesheet" href="../../static/css/style.css">
  </head>

  <body>
    <div class="outer">
      <div class="inner">
        <span class="title">Customer Functionality</span>
        <div class="space-large"></div>

        <button type="button" onclick="window.location.href='explore_movie.html'">Explore Movie</button>
        <button type="button" onclick="window.location.href='view_history.html'">View History</button> </br>
        <button type="button" onclick="window.location.href='explore_theater.html'">Explore Theater</button>
        <button type="button" onclick="window.location.href='visit_history.html'">Visit History</button> </br>
        <button type="button" onclick="window.location.href='/'">Back</button>
      </div>
    </div>
  </body>
</html>
