<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Visit History</title>

    <link rel="icon" type="image/jpg" href="../../static/imgs/favicon.jpg"/>
    <link type="text/css" rel="stylesheet" href="../../static/css/style.css">
</head>

<body>
<div class="outer">
    <div class="inner">
        <span class="title">Visit History</span>
        <div class="space-large"></div>
        <form action="/visit_history" method="POST">
            <span class="text">Company Name:</span>
            <div class="dropdown" id="dropdown1"></div>
            <span class="text">Visit Date:</span>
            <input name="min_visit_date">
            <span class="text">--</span>
            <input name="max_visit_date"> </br>
            <button type="submit">Filter</button> </br>
        </form>
        <div id="output"></div>
        <button type="button" onclick="window.location.href='funcNav'">Back</button>
    </div>
</div>
</body>
</html>
<script type="text/javascript">
  function generateTable(table, data) {
	for (let element of data) {
	  var row = table.insertRow();
	  var cell = row.insertCell();
	  var text = document.createTextNode(element.thName);
	  cell.appendChild(text);
	  cell = row.insertCell();
	  text = document.createTextNode(element.thStreet+", "+element.thCity+", "+element.thState+" "+element.thZipcode);
	  cell.appendChild(text);
	  cell = row.insertCell();
	  text = document.createTextNode(element.comName);
	  cell.appendChild(text);
	  cell = row.insertCell();
	  text = document.createTextNode(element.visitDate);
	  cell.appendChild(text);
	}
  }

  var selector1 = document.getElementById("dropdown1");
  fetch('http://localhost:3000/companyList/')
	.then((res) => {
	  if (res.ok) {
		return res.json();
	  }
	})
	.then((rows) => {
	  for (var i = 0; i < rows.length; i++) {
		selector1.innerHTML+="<option value='"+i+"' required>"+rows[i].comName+"</option>";
	  }
	  selector1.innerHTML = "<select name=\"comName\">" + selector1.innerHTML + "</select>";
	})
	.catch(console.log);

  var parameters = decodeURIComponent(location.search.substring(1));

  if (parameters.length>0 && parameters.charAt(0) != 'u') {
	var results = JSON.parse(parameters);
	console.log(results);
	document.getElementById("output").innerHTML = "<table style=\"width:100%\">\n" +
	  "  <tr>\n" +
	  "    <th>Theater</th> \n" +
	  "    <th>Address</th>\n" +
	  "    <th>Company</th>\n" +
	  "    <th>Visit Date</th>\n" +
	  "  </tr>\n";
	document.getElementById("output").innerHTML += "</table>";
	let table = document.querySelector("table");
	generateTable(table, results);
  }
</script>