<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Register Navigation</title>

    <link rel="icon" type="image/jpg" href="../../static/imgs/favicon.jpg"/>
    <link type="text/css" rel="stylesheet" href="../../static/css/style.css">
  </head>

  <body>
    <div class="outer">
      <div class="inner">
        <div class="title">Register Navigation</div>
        <div class="space-large"></div>

        <button onclick="window.location.href='user.html'">User Only</button></br>
        <button onclick="window.location.href='manager.html'">Manager Only</button></br>
        <button onclick="window.location.href='customer.html'">Customer Only</button></br>
        <button onclick="window.location.href='manager-customer.html'">Manager-Customer</button></br>
        <div class="space-medium"></div>

        <button onclick="window.location.href='../'">Back</button>
      </div>
    </div>
  </body>
</html>
