<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Atlanta Movie Login</title>

    <link rel="icon" type="image/jpg" href="../static/imgs/favicon.jpg"/>
    <link type="text/css" rel="stylesheet" href="../static/css/style.css">
  </head>

  <body>
    <div class="outer">
      <div class="inner">
        <div class="title">Atlanta Movie Login</div>
        <div class="space-large"></div>

        <div class="login">
          <span class="text">Username:</span>
          <input type="email" placeholder="example@gmail.com"></input>
          </br>
          <span class="text">Password:</span>
          <input type="password" placeholder="password123"></input>
        </div>
        <div class="space-large"></div>

        <button>Login</button>
        <button>Register</button>
      </div>
    </div>
  </body>
</html>
