<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Atlanta Movie Login</title>

    <link rel="icon" type="image/jpg" href="../static/imgs/favicon.jpg"/>
    <link type="text/css" rel="stylesheet" href="../static/css/style.css">
  </head>

  <body>
    <div class="outer">
      <div class="inner">
        <div class="title">Atlanta Movie Login</div>
        <div class="space-large"></div>

        <form action="/login" method="POST">
          <div class="login">
            <span class="text">Username:</span>
            <input name="username" required>
            </br>
            <span class="text">Password:</span>
            <input type="password" name="password" required>
          </div>
          <div class="space-large"></div>

          <button type="submit">Login</button>
          <button type="button" onclick="window.location.href='registration/navigation.html'">Register</button>
        </form>
      </div>
    </div>
  </body>
</html>
